html {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

body {
  margin: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-top: 0;
}

.form-input {
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0 1rem;
  background-color: rgb(179, 203, 224);
  border: 0;
}

.form-input:focus {
  outline: none;
}

.sectionMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
}

.linkMoviecard {
  text-decoration: none;
  color: black;
  width: 18.75rem;
  height: 32.5rem;
  margin: 1rem 0;
  background: whitesmoke;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.linkMoviecard:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.movieCard {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.movieCard-img {
  width: 100%;
  height: 27.625rem;
  object-fit: cover;
}

.movieCard-info {
  display: flex;
  flex-direction: column;
  height: 4.875rem;
  justify-content: space-evenly;
  margin: 0.3rem;
}

.movieCard-title {
  margin: 0;
}

.movieCard-year {
  margin: 0;
}

.errorMsg {
  margin: 1rem 0;
  color: red;
}
.sectionSinglemovie {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 1rem;
  width: 70%;
  background-color: rgb(243, 243, 243);
  border-radius: 1rem;
  padding: 0 1rem;
}
.container-info-title {
  font-size: 2rem;
  margin: 0;
}
.container-info-director {
  font-size: 1.2rem;
}
.container-info-plot {
  font-size: 1rem;
}
.container-info-year {
  font-size: 1.5rem;
}
.container-info-meta {
  font-size: 1.5rem;
}
.container-info-metascore {
  padding: 0.5rem;
  color: white;
  margin-left: 0.5rem;

  border-radius: 0.5rem;
}
.container-info-metascore-bad {
  background-color: red;
}
.container-info-metascore-medium {
  background-color: orange;
}
.container-info-metascore-good {
  background-color: green;
}
.container-info-metascore-na {
  background-color: grey;
}

.container-poster {
  width: 30%;
  height: auto;
}
.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnBack {
  background-color: black;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  text-decoration: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 11rem;
  transition-duration: 0.3s;
}

.btnBack:hover {
  transform: scale(1.05);
}

.loading {
  font-size: 3rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 708px) {
  body {
    margin: 0.5rem;
  }
  .sectionMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
  .container {
    flex-direction: column;
  }

  .container-poster {
    width: 100%;
  }

  .container-info {
    display: flex;
    margin: 0;
    width: 100%;
    border-radius: 0.3rem;
    padding: 0;
  }
  .container-info-title {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .container-info-director {
    font-size: 1.2rem;
  }
  .container-info-plot {
    font-size: 1rem;
  }
  .container-info-year {
    font-size: 1rem;
    margin: 0;
  }
  .container-info-meta {
    font-size: 1.5rem;
  }
  .container-info-metascore {
    padding: 0.5rem;
    color: white;
    margin-left: 0.5rem;

    border-radius: 0.5rem;
  }
}
