body {
  font-family: "Courier New", Courier, monospace;

  padding: 0;
  margin: 3rem;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-top: 0;
}

.form-input {
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0 1rem;
  background-color: rgb(179, 203, 224);
  border: 0;
}

.form-input:focus {
  outline: none;
}

.sectionMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
}

.linkMoviecard {
  text-decoration: none;
  color: black;
  width: 18.75rem;
  height: 32.5rem;
  margin: 1rem 0;
  background: whitesmoke;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.linkMoviecard:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.movieCard {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.movieCard-img {
  width: 100%;
  height: 27.625rem;
  object-fit: cover;
}

.movieCard-info {
  display: flex;
  flex-direction: column;
  height: 4.875rem;
  justify-content: space-evenly;
  margin: 0.3rem;
}

.movieCard-title {
  margin: 0;
}

.movieCard-year {
  margin: 0;
}

.errorMsg {
  margin: 1rem 0;
  color: red;
}
.sectionSinglemovie {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
}
.container-info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 70%;
}
.container-info-title {
  font-size: 2rem;
  margin: 0;
}
.container-info-director {
  font-size: 1.2rem;
}
.container-info-plot {
}
.container-info-year {
}

.container-poster {
  width: 30%;
  height: auto;
}
.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btnBack {
  background-color: black;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  text-decoration: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 11rem;
}
